/* CSS Reset
 * http://meyerweb.com/eric/tools/css/reset/ 
 * v2.0 | 20110126
 * License: none (public domain)
 */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,  figure, figcaption, footer, header, hgroup,  menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure,  footer, header, hgroup, menu, nav, section { display: block; }
table { border-collapse: collapse; border-spacing: 0; }
blockquote, q { quotes: none; } blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

/* 
 * CSS
 */

body { font-family: "Helvetica", sans-serif; line-height: 1; font-size: 0.8em; padding: 10px; }

/* Comments */
.comment {
	margin: 5px 0;
	padding-left: 20px;
	text-align: justify;
}
.comment.origin { padding-left: 0; }
.comment .body { display: inline; }
    .comment a.point { text-decoration: none; color: inherit; cursor: pointer; }
    .comment a.point:hover { background-color: #efefef; }

    .comment a#point-1-2:hover { background-color: #bbbbff; }
    .comment a#point-1-3:hover { background-color: #ffbbbb; }
.comment .info { color: #666666; font-family:monospace;  float: right;}
.comment .info a { text-decoration: none; color: inherit; }
.comment .info a:hover { text-decoration: underline; color: #222; }
.comment .info a:before { content: "- "; }
.comment .info a:after { content: ""; }

/* Votes */

span.vote, .comment {
	background-repeat: no-repeat;
	background-position: 0 50%;
}

.star     { background-image: url("./img/vote_star.png");     }
.agree    { background-image: url("./img/vote_agree.png");    }
.neutral  { background-image: url("./img/vote_neutral.png");  }
.disagree { background-image: url("./img/vote_disagree.png"); }

/* Inline votes */

span.vote {
	padding-left: 16px;
}

/* Replies */

.replies { margin: 15px 0; position: relative; }
.replies a.title {
	line-height: 16px;
	border-bottom: 1px solid gray;
	background-image: url("./img/arrow_down.png");
	background-position: 0 0;
	background-repeat: no-repeat;
	display: block;
	padding: 0 0 2px 20px;
	font-style: bold;
	color: #444444;
	text-decoration: none;
}
.replies .comment { margin-left: 20px; }