<form method="POST">
<table>
    <tr>
        <td>ID</td>
        <td><input name="id" type="text"></td>
    </tr>
    <tr>
        <td>URL</td>
        <td><input name="url" type="text"></td>
    </tr>
    <tr>
        <td>Text</td>
        <td><input name="text" type="text"></td>
    </tr>
    <tr>
        <td colspan=2><input type="submit"></td>
    </tr>
</table>
<form>

<p><a href="{{ url_for('select') }}">Return home</a></p>
