<h1>Added new url</h1>
<p>The id is: {{ id }}</p>
<p>The url is: <code>{{ url }}</code></p>
<p>Will search for: "{{ text }}"</p>
<p>The new url may take a minute or so to appear.</p>

<p><a href="{{ url_for('select') }}">Return home</a></p>
