<img src="{{graphite}}/render?target=http_tester.*.time&from=-6hours">

<ul>
{% for target in targets %}
    <li><a href="{{ url_for('show', target=target) }}">{{ target }}</a></li>
{% endfor %}
</ul>

<a href="{{ url_for('new') }}">Add new url</a>
