{% macro graph(target, section, parameters='') -%}
    {{graphite}}/render?target=http_tester.{{target}}.{{section}}{% if parameters %}&{% endif %}{{parameters}}
{%- endmacro %}

<h1>Status for '{{ target }}'</h1>

<img src="{% if success -%}
    http://cdn2.business2community.com/wp-content/uploads/2012/03/Green-Light.png
{%- else -%}
    http://1.bp.blogspot.com/-vf4xLOHy2Jw/UA65IgE4ZUI/AAAAAAAAAJ8/airT9Nq-JKw/s1600/traffic_light_red_dan_ge_01.png
{%- endif %}" width="100px">

<p>The site is currently <strong>{% if success %}UP{% else %}DOWN{% endif %}</strong>.</p>
<p>The page {% if page_fetched %}could{% else %}could not{% endif %} be fetched.</p>
<p>The requested text could {% if not match %}not {% endif %} be matched.</p>

{% for title, section in [('Request time', 'time'), ('Age', 'http_header_age')] %}
    <h2>{{ title }}</h2>
    <img src="{{ graph(target, section, 'from=-6hours') }}">
{% endfor %}

<p><a href="{{ url_for('select') }}">Return home</a></p>
